<template>
  <div id="err-wrapper">
    <msg title="该单据已经申请了发票" :icon="icon"></msg>
    <x-button type="primary" @click.native="getCard">领取到卡包</x-button>
  </div>
</template>

<script>
  import { Msg, Divider, XButton } from 'vux'
  export default {
    data(){
      return {
        icon:'warn',
        billno: ''
      }
    },
    methods:{
      getCard(){
        let self = this
        fetch(this.$domain+ "weixin/getExistInfo?billno="+this.billno)
          .then(res=>{
            return res.json()
          })
          .then(response=>{
            this.$nextTick(()=>{
              if(response.code ==0){
                window.location.href = response.url
              } else {
                alert("卡包错误,请稍后再试")
              }
            })
          });
      }
    },
    components: {
      Msg,
      Divider,
      XButton
    },
    created() {
      //此处为guid
      this.billno = this.$utils.getUrlKey("billno")
      let self = this

    },
    beforeCreate () {
      document.querySelector('body').setAttribute('style', 'background:#fff')
    }
  }
</script>

<style>
#err-wrapper {
  padding:10px;
}
</style>
