<template>
  <div class="dot-line"></div>
</template>

<script>
    export default {

    }
</script>

<style scoped>
  .dot-line {
    width: 92%;
    height: 2px;
    margin-left:auto;
    margin-right: auto;
    border-bottom: 1px dotted #020202;
    overflow: hidden;
  }
</style>
