<template>
    <div class="form">

      <div class="tab-wrapper">
        <ButtonTab>
          <ButtonTabItem selected @on-item-click="info('person')">个人</ButtonTabItem>
          <ButtonTabItem @on-item-click="info('company')">企业</ButtonTabItem>
        </ButtonTab>
      </div>

      <div class="form-wrapper">
        <flexbox>
          <flexbox-item :span="8">
            <x-input style="font-size: 14px;" v-model="custname" required title="名称" placeholder="请输入名称"></x-input>
          </flexbox-item>
          <flexbox-item :span="1">
            <x-icon type="ios-plus" @click="addTitle" class="addTitle" size="20"></x-icon>
          </flexbox-item>
          <flexbox>
            <div class="wxbtn">微信抬头</div>
          </flexbox>
        </flexbox>
      </div>

      <div class="companyInfo" v-show="companyFlag">

        <!--<div>-->
          <!--<x-input title="税号" style="font-size: 14px;" v-model="taxcode" placeholder="请输入税号" :required="validator"></x-input>-->
        <!--</div>-->
        <div class="form-wrapper">
        <flexbox>
          <flexbox-item :span="8">
            <x-input style="font-size: 14px;" v-model="taxcode" :required="isCompany" title="税号" placeholder="请输入税号"></x-input>
          </flexbox-item>
          <flexbox-item :span="1" >
            <x-icon type="ios-plus" @click="matchName" class="addTitle" size="20"></x-icon>
          </flexbox-item>
          <flexbox>
            <div class="wxbtn">搜索企业</div>
          </flexbox>
        </flexbox>
        </div>

        <div class="other-info" v-show="this.showDetail">
          <x-input title="单位地址" style="font-size: 14px;" v-model="address" placeholder="请输入单位地址" :required="validator"></x-input>
          <x-input title="单位电话" style="font-size: 14px;" v-model="phone" placeholder="请输入单位电话" :required="validator"></x-input>
          <x-input title="开户银行" style="font-size: 14px;" v-model="bankname" placeholder="请输入开户银行" :required="validator"></x-input>
          <x-input title="银行账号" style="font-size: 14px;" v-model="bankaccount" placeholder="请输入银行账号" :required="validator"></x-input>
        </div>

        <div class="company">
          <span class="text" @click="invDetail">企业其他纳税信息<i :class="arrowAttr"></i></span>


        </div>


        <div class="mail" v-show="invType == 0">
          <x-input title="邮寄地址" style="font-size: 14px;" v-model="mailAddress" placeholder="请输入邮寄地址" :required="validator"></x-input>
        </div>

        <!--<div class="checker-wrapper">-->
          <!--<checker-->
            <!--v-model="invType"-->
            <!--default-item-class="checker-item"-->
            <!--selected-item-class="checker-item-selected"-->
          <!--&gt;-->
            <!--<checker-item :value="2">电子发票</checker-item>-->
            <!--<checker-item :value="0">专票</checker-item>-->
          <!--</checker>-->
        <!--</div>-->


      </div>
      <div class="btn-wrapper">
        <x-button @click.native="invoice" type="default" style="border-radius:99px;">确认开票</x-button>
      </div>

      <div class="sm-text">开票服务由"云票儿"提供</div>
      <toast v-model="custnameRequired" type="warn" :time="2000">信息缺失</toast>

      <toast v-model="gfmc" type="warn">需三个字以上名称</toast>


      <div v-transfer-dom>
        <popup v-model="show1">
          <!-- group already has a top border, so we need to hide header's bottom border-->
          <popup-header
            left-text="取消"
            right-text="确定"
            title="请选择企业"
            :show-bottom-border="false"
            @on-click-left="show1 = false"
            @on-click-right="fillCmpy"></popup-header>
          <group gutter="0">
            <radio :options="selectCmpys" v-model="selectedCompany"></radio>
          </group>
        </popup>
      </div>

    </div>
</template>
<script>
  import { ButtonTab, ButtonTabItem ,XInput , Flexbox, FlexboxItem ,XButton , Checker, CheckerItem, Group ,Toast ,PopupHeader, Popup ,TransferDom ,Radio } from 'vux'

  export default {
    data(){
      return {
        billno:'',
        companyType:'person',
        invType:2,
        showDetail:false,
        wxConfig:{},
        custname:'',
        taxcode:'',
        address:'',
        phone:'',
        bankname:'',
        bankaccount:'',
        mailAddress:'',
        selectCmpys:[],
        companyList:[],
        gfmc:false,
        show1:false,
        selectedCompany:'',
        custnameRequired:false
      }
    },
    methods:{
      info(type){
        this.companyType = type
        if (type=='person') {
          this.invType = 2
        }
      },
      addTitle() {
        let self = this
        wx.invoke('chooseInvoiceTitle', {
          "scene":"2"
        }, function (res) {
          if (res.err_msg == 'chooseInvoiceTitle:ok') {
            var info = JSON.parse(res.choose_invoice_title_info)
            console.log(info)
            //选取成功
            self.custname = info.title
            self.taxcode = info.taxNumber
            self.address = info.companyAddress
            self.phone = info.telephone
            self.bankname = info.bankName
            self.bankaccount = info.bankAccount
          } else {
            //选取失败
            alert("用户选取失败")
          }
        });
      },
      fillCmpy(){
        this.selectCmpys.forEach((v , i) => {
          if (v.key == this.selectedCompany) {
            this.custname = v.value;
          }
        })
        this.taxcode = this.selectedCompany
        this.show1 = false
      },
      matchName(){
        let matchName = this.custname
        console.log(matchName)

        if (matchName != '' && matchName.length > 3) {
          fetch(this.$domain + "weixin/matchCompany" ,{
            method:'POST',
            headers:{
              "Content-type":"application/x-www-form-urlencoded"
            },
            body:"custname="+matchName
          })
            .then(res=>{
              return res.json()
            })
            .then(response=>{
              console.log(response)
              this.$nextTick(()=>{
                if (response.code == 0) {
                  this.companyList = response.data
                  this.selectCmpys=[]
                  for(let i=0;i< this.companyList.length; i++) {
                    console.log(this.companyList[i].buyer_title)
                    let key = this.companyList[i].buyer_taxcode
                    let value = this.companyList[i].buyer_title
                    let o = {key:key , value:value}
                    this.selectedCompany = o
                    this.selectCmpys.push(o)
                  }

                  this.show1 = true
                }
              })

            })
            .catch(error => console.log('error is', error));
        } else {
          this.gfmc=true
        }


      },
      invoice(){

        let data = {}
        data.custname = this.custname
        data.taxcode = this.taxcode
        data.address =this.address
        data.phone = this.phone
        data.bankname =this.bankname
        data.bankaccount = this.bankaccount
        data.mailAddress = this.mailAddress
        data.invType = this.invType
        data.billno = this.billno

        if(data.custname == '' || data.custname == undefined) {
          this.custnameRequired = true
          return ;
        }

        if (this.companyType != 'person' && (data.taxcode == '' || data.custname == undefined)) {
          this.custnameRequired = true
          return ;
        }
        if (this.invType == 0) {
          if(data.mailAddress == '' || data.mailAddress == undefined){
            alert("地址信息必填")
            return ;
          }

        }
        this.$emit("showModal")
        fetch(this.$domain + "weixin/postData" ,{
          method:'POST',
          body: JSON.stringify(data)
        })
          .then(res=>{
            return res.json()
          })
          .then(response=>{
            if (response.code == 0) {
              window.location.href = response.url
            } else {
              alert(response.msg);
            }

          })
      },
      invDetail(){
        this.showDetail = !this.showDetail
      }
    },
    computed:{
      arrowAttr(){
        let mStyle = "iconfont icon-ico-round-down-arrow"
        if (this.showDetail) {
          mStyle = "iconfont icon-ico-round-up-arrow"
        }
        return mStyle;
      },
      isCompany() {
        if (this.companyType != 'person') {
          return true
        } else {
          return false
        }

      },
      companyFlag() {
        if (this.companyType == 'person') {
          return false
        } else {
          return true
        }
      },
      validator(){
        if (this.invType == 0) {
          return true;
        } else {
          return false;
        }

      }
    },
    directives: {
      TransferDom
    },
    components:{
      ButtonTab,
      ButtonTabItem,
      XInput,
      Flexbox,
      FlexboxItem,
      XButton,
      Checker,
      CheckerItem,
      Group,
      PopupHeader,
      Popup,
      Radio,
      Toast
    },
    created(){
      //此处为guid
      this.billno = this.$utils.getUrlKey("billno")
      fetch(this.$domain + "weixin/wxSettings?billno="+this.billno)
        .then(res=>{
          return res.json()
        })
        .then(response=>{
          this.$nextTick(()=>{
            this.wxConfig = response.wxInfo
            console.log(this.wxConfig)
            wx.config({
              beta:true,
              debug:false,
              appId:'wx7c2494a6d93db7f5',
              timestamp:this.wxConfig.timestamp,
              jsapi_ticket:this.wxConfig.jsapi_ticket,
              nonceStr:this.wxConfig.noncestr,
              signature:this.wxConfig.signature,
              jsApiList: ['chooseInvoiceTitle']
            })
          })


        })
    }
  }
</script>

<style scoped>
  @import url(./img/iconfont.css);
  a {
    text-decoration: none;
  }
  .form {
    margin: 15px;
  }
  .tab-wrapper{
    width:70%;
    margin: 0 auto;
  }
  .addTitle{
    fill:#F8C300;
  }
  .btn-wrapper {
    padding: 5px;
    width: 80%;
    margin: 10px auto;
  }
  .form-wrapper{

  }
  .wxbtn {
    color: #F8C300;
    font-size: 14px;
  }

  .company {
    border: 1px solid #c3c3c3;
    width: 150px;
    height: 30px;
    margin: 5px auto;
    border-radius: 25px;
    font-size: 12px;
    text-align: center;
    vertical-align: center;
  }
  .text {
    color:#B9BCC5;
    position: relative;
    top:20%;
    transform: translateY(-50%);
  }
  .sm-text {
    color:#B9BCC5;
    width: 150px;
    padding:10px 0;
    margin:0 auto;
    color:#B9BCC5;
    font-size: 12px;
    bottom: 10px;
  }

  .checker-wrapper{
    margin: 10px auto;
    width:225px;
  }
  .checker-item {
    width: 100px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-right: 6px;
  }
  .checker-item-selected {
    background: #ffffff url(../../assets/active.png) no-repeat right bottom;
    border-color: #ff4a00;
  }
</style>
