<template>
  <div id="err-wrapper">
    <msg title="请在微信客户端中打开" :icon="icon"></msg>
  </div>
</template>

<script>
  import { Msg, Divider, XButton } from 'vux'
  export default {
    data(){
      return {
        icon:'warn'
      }
    },
    components: {
      Msg,
      Divider,
      XButton
    },
    beforeCreate () {
      document.querySelector('body').setAttribute('style', 'background:#fff')
    }
  }
</script>

<style>

</style>
