<template>
  <div id="err-wrapper">
    <msg title="专票提交成功" description="我们将在在三日内寄出,请您注意查收" :icon="icon"></msg>
  </div>
</template>

<script>
  import { Msg, Divider, XButton } from 'vux'
  export default {
    data(){
      return {
        icon:'waiting'
      }
    },
    components: {
      Msg,
      Divider,
      XButton
    }
  }
</script>

<style scoped>

</style>
