<template>
    <div class="title">
      <div class="logo-wrapper">
        <img :src="fileName" id="logo">
      </div>
      <table>
        <tr>
          <td>金额</td>
          <td class="tb-content">￥{{sumJe}}</td>
        </tr>
        <tr>
          <td>下单时间</td>
          <td class="tb-content">{{createtime}}</td>
        </tr>
      </table>
    </div>
</template>

<script>

  // const domain = "http://demo.whgaopeng.com/"
  // const domain = "http://localhost:8080/"
    export default {
      data(){
        return {
          fileName:"",
          sumJe:0,
          createtime:""
        }
      },
      created(){
        let self = this
        //此处为guid
        this.billno = this.$utils.getUrlKey("billno")
        fetch(this.$domain + "weixin/wxSettings?billno="+this.billno)
          .then(res=>{
            return res.json()
          })
          .then(response=>{
            this.$nextTick(()=>{
              self.sumJe = response.sumJe
              self.createtime = response.billDate
              self.fileName = "http://img.whgaopeng.com/logo/"+response.fileName
            })

          })
      }
    }
</script>

<style scoped>
  .title{
    width: 100%;
    height: 160px;
  }
  .logo-wrapper {
    width: 272px;
    height: 86px;
    margin: 10px auto;
  }
  #logo{
    width: 272px;
    height: 86px;
    margin: 0 auto;
  }
  table {
    width: 100%;
    padding:5px;
    border-collapse:separate;
    border-spacing:10px 10px;
  }

  table td {
    color: #7E3A27;
    font-size: 14px;
  }

  table .tb-content {
    text-align: right;
  }

</style>
