<template>
  <div id="main">

    <!-- 遮罩层 -->
    <div id="BgDiv1" v-show="loading"></div>
    <div class="DialogDiv" v-show="loading">
      <div class="U-guodu-box">
        <div>
          <table width="100%" cellpadding="0" cellspacing="0" border="0" >
            <tr><td  align="center"><img src="../../assets/loading/loading.gif" ></td></tr>
            <tr><td  valign="middle" align="center" >提交中，请稍后！</td></tr>
          </table>
        </div>
      </div>
    </div>


    <div class="form-wrapper">
      <app-title></app-title>

      <dot-line></dot-line>

      <app-form v-on:showModal="showModal"></app-form>
    </div>

  </div>
</template>

<script>
  import appForm from '../form/form'
  import appTitle from '../title/title'
  import dotLine from '../Split/dot'

  export default {
    name: 'App',
    data(){
      return {
        loading:false,
        billno:''
      }
    },
    components: {
      'app-form':appForm,
      'app-title':appTitle,
      'dot-line':dotLine
    },
    methods:{
      showModal(){
        this.loading = !this.loading
      }
    },
    beforeCreate(){
      //判断是否是微信浏览器
      var ua = navigator.userAgent.toLowerCase()
      var isWeixin = ua.indexOf('micromessenger') != -1
      if (!isWeixin) {
         window.location.href = 'notwechat'
      }
      document.querySelector('body').setAttribute('style', 'background:#0D583A')

      //验证发票是否已经开具
      //此处为guid
      this.billno = this.$utils.getUrlKey("billno")
      var bi = this.billno
      fetch(this.$domain+ "weixin/verifyData?billno="+this.billno)
        .then(res=>{
          return res.json()
        })
        .then(response=>{
          this.$nextTick(()=>{
            if(response.code ==1){
              window.location.href = 'exist?billno='+bi
            }
          })
        });
    }
  }
</script>

<style>
  body {
    /*background: #0A67A2;*/
    background: #0D583A;
  }
  #app{
    padding: 5px;
  }
  .form-wrapper{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 15px;
    background: #fff;
  }

  /*遮罩层*/
  #BgDiv1{
    background-color:#000;
    position:absolute;
    z-index:9999;
    /*display:none;*/
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
  .DialogDiv{
    top:45%;
    left: 35%;
    position:absolute;
    z-index:99999;
  }
  .U-guodu-box {
    padding:5px 15px;
    background:#3c3c3f;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    min-heigh:200px;
    border-radius:10px;
  }
  .U-guodu-box div{
    color:#fff;
    line-height:20px;
    font-size:12px;
    margin:0px auto;
    height:100%;
    padding-top:10%;
    padding-bottom:10%;
  }
</style>
